<h2>Log In</h2>


<form method="POST" action="/process-login">
  <label>
    Email:
    <input type="text" name="email" placeholder="lando@calrissian.com" />
  </label>
  <br />

  <label>
    Password:
    <input type="password" name="loginPassword" placeholder="Your secret is safe with us" />
  </label>
  <br />

  <button>Log In</button>
</form>

<a href="/google/login">Log In With Google</a>
<a href="/github/login">Log In With GitHub</a>