<h2>Sign Up</h2>

<form method="POST" action="/process-signup">
  <label>
    username:
    <input type="text" name="username" placeholder="weedlover" />
  </label>
  <br />

  <label>
    real name:
    <input type="text" name="realName" placeholder="Mister M" />
  </label>
  <br />

  <label>
    email:
    <input type="email" name="email" placeholder="weed@lover.com" />
  </label>
  <br />

  <label>
    password:
    <input type="password" name="originalPassword" placeholder="We won't tell" />
  </label>
  <br />

  <button>Sign Up</button>
</form>

<a href="/google/login">Log In With Google</a>
<a href="/github/login">Log In With GitHub</a>
